<div style="display: flex; flex-direction: column; text-align: center">
  <h1 style="font-size: 320px; line-height: 1; margin: 0; font-weight: 300">
    404
  </h1>
  <span
    style="
      font-size: 32px;
      letter-spacing: 12px;
      border-bottom: 1px dashed red;
      padding: 16px;
    "
  >
    You not allowed here
  </span>
</div>
