<div class="container mt-5 mb-4 h-100">
  <div class="d-flex flex-column justify-content-center align-items-cente m-auto text-center" style="width: 100%; max-width: 18rem">
    <img
      src="public/img/avatar.jpg"
      alt="profile picture"
      style="height: 256px; width: 256px; object-fit: cover; border-radius: 9999px"
    />
    <h5 class="display-4 mt-3">Roses</h5>
    <p class="lead mt-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
    </p>
  </div>
</div>
